section {
  min-height: 80vh;
  background-image: url("../Imgs/landing.png");
  background-size: 40%;
  position: relative;
  background-repeat: no-repeat;
}
section::before {
  content: "";
  display: block;
  position: absolute;
  left: 30%;
  height: 100%;
  width: 33%;
  background-image: url("../Imgs/landing2.png");
  background-size: cover;
  background-position: left top;
}

section::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60%;
  background-image: url("../Imgs/landing3.png");
  background-size: cover;
  background-position: left top;
}

.navbar .nav-link,
.navbar-brand {
  font-size: 25px;
  color: #ffffff !important;
  font-weight: 400;
  font-family: "Montserrat";
  position: relative;
  z-index: 222;
  padding-right: 55px !important;
}

.title {
  z-index: 99990;
  position: absolute;
  top: 20%;
  left: 50%;
}
.title h2 {
  font-size: 125px;
  color: #ffc200;
  font-weight: 400;
  font-family: "Grand Hotel";
}
.title p {
  width: 589px;
  font-size: 30px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Montserrat";
}
.title button {
  font-size: 19px;
  text-transform: uppercase;
  color: #333333;
  font-weight: 700;
  font-family: "Montserrat";
  text-align: center;
  background: #ffc200;
  padding: 5px 40px;
  border-radius: 4px;
}

@media screen and (max-width: 991px) {
  section {
    background-size: 100% !important;
    min-height: 60vh;

  }
  section::before {
    display: none;
  }

  section::after {
    display: none;
  }
.title{
  z-index: 99990;
  position: absolute;
  top: 27%;
  left: 29%;
}
  .title h2 {
    font-size: 30px !important;
  }

  .title p {
    width: 100% !important;
    font-size: 15px;
  }

  .title button {
    font-size: 10px !important;
    padding: 5px 20px !important;
  }

}
